            <ul>
               <li class="item-menu" [routerLinkActive]="['link-active']">
                        <a [routerLink]="['/home']">
                            <span class="glyphicon glyphicon-home"></span>
                            <span class="menu">Home</span>
                        </a>
                    </li>
                <li class="item-menu" [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        <span class="glyphicon glyphicon-list"></span>
                        <span class="menu">Employee List</span>
                    </a>
                </li>
              
                <li class="item-menu" [routerLinkActive]="['link-active']">
                        <a [routerLink]="['/new']">
                            <span class="glyphicon glyphicon-user"></span>
                            <span class="menu">Add Employee</span>
                        </a>
                </li>
            </ul>



